body {
  font-size: 14px;
  padding: 60px 80px;
}

input {
  padding: 8px 12px;
  border-radius: 5px;
  border: 1px solid gray;
  font-size: 14px;
  margin-right: 8px;
}

input.output {
  background: lightyellow;
}

td,
th {
  padding: 5px 10px;
}

th {
  text-align: right;
}

hr {
  border: 0;
  border-top: 1px solid lightgray;
}

svg {
  max-width: 700px;
  max-height: 700px;
}
